<header class="page-header inner">
    <div class="container animate-up">
        <a href="/" class="back">
            <img src="/images/back.svg" alt="" />
        </a>
        <h1>
            <%= title %>
        </h1>
        <% if(title === 'Meu Perfil') { %>
        <input type="checkbox" name="switch-theme" id="switch">
        <% } %>
    </div>
</header>